<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.www)(:80)? [NC]
RewriteRule ^(.*) wwww/$1 [R=301,L]
DirectoryIndex index.html       
order deny,allow
