html * {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  min-height: 100vh;
  /* min-width: 100vw; */
  background-image: url(images/pixelBack.jpg);
  background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}


    
    
    
    
    


#top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-image: url("images/brushSteel.jpg");
    background-repeat: repeat;
    background-color:black;
    box-shadow: 0px 3px 5px 1px black;
}

.navContainer h1, .navcontainer h1 * {
    font-family: 'Saira', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 2.5rem;
    padding:5px 15px 10px 15px;
    text-align: center;
    line-height: 1;
    background: rgba(0,0,0,.6);
    box-shadow: 1px 1px 2px 1px black;
    transition: color 800ms;
}

.navContainer h1:hover {
    color: rgba(218, 42, 42, 0.8);
    transition: color 1s;
}

.landingNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.landingNav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.landingNav a:hover {
    color: rgba(19, 12, 224, 0.8);
} 

#blank {
    height:20px;
    width: 40px;
    background: none;
}

.glitch {
    content: attr(data-text);
    color: rgb(184, 184, 184);
    
    
}

  .glitch:before {
    content: attr(data-text);
    position: absolute;
 
    
    text-shadow: -1px 0 red;
    
    color: rgb(99, 4, 4);
    background:none;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 1.5s infinite linear alternate-reverse;
}
  

#info3 {
    
    display: none;
    width: fit-content;
    position: relative;
    background-image: url(images/brushSteel.jpg);
    margin: 15px auto -185px auto;
    box-shadow: 0px 3px 3px 2px black;
    
    
}

#info3 h2 {
    font-family: 'Saira', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 2.5rem;
    padding:5px 15px 10px 15px;
    text-align: center;
    line-height: 1;
    background: rgba(0,0,0,.6);
    box-shadow: 0px 1px 2px 1px black;
}

#info3 h2:hover {
    color: rgba(218, 42, 42, 0.8);
    transition: color 800ms;
}

#info3 h3 {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

#info3 h3:hover {
    color: rgba(24, 22, 97, 0.863);
}

#info3 div {
    position: relative;
    text-align: right;
    padding-right: 10px;
    color: rgba(218, 42, 42, 0.8);
    box-shadow: 0px 1px 1px 1px black;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    background: rgba(0,0,0,.8);
    

}

#info3 div:hover {
    cursor: pointer;
}

#media {
  display: flex;
  justify-content: flex-start;
}

#mediaThumbWrap {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin-top: -17px;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425);
    border-right: solid black 2px;
    z-index: -1;
}

#mediaThumbWrap a img {
    
    /* background: pink; */
    border: solid rgb(0, 0, 0) 5px;
    margin-bottom: 50px;
    align-content: center;
}

.mediaBorder {
  display: none;
  
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.74);
    color: rgba(184, 184, 184, 0.829);
    text-align: center;
}







@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  10% {
    clip: rect(3px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(6px, 9999px, 77px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 36px, 0);
  }
  25% {
    clip: rect(71px, 9999px, 23px, 0);
  }
  30% {
    clip: rect(75px, 9999px, 56px, 0);
  }
  35% {
    clip: rect(22px, 9999px, 14px, 0);
  }
  40% {
    clip: rect(75px, 9999px, 21px, 0);
  }
  45% {
    clip: rect(54px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(94px, 9999px, 84px, 0);
  }
  55% {
    clip: rect(92px, 9999px, 42px, 0);
  }
  60% {
    clip: rect(55px, 9999px, 52px, 0);
  }
  65% {
    clip: rect(85px, 9999px, 1px, 0);
  }
  70% {
    clip: rect(53px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 62px, 0);
  }
  95% {
    clip: rect(43px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 11px, 0);
  }
    2% {
        clip: rect(49px, 9999px, 18px, 0);
      }
      7% {
        clip: rect(25px, 9999px, 26px, 0);
      }
      12% {
        clip: rect(83px, 9999px, 86px, 0);
      }
      17% {
        clip: rect(41px, 9999px, 37px, 0);
      }
      18% {
        clip: rect(100px, 9999px, 58px, 0);
      }
      27% {
        clip: rect(35px, 9999px, 54px, 0);
      }
      32% {
        clip: rect(59px, 9999px, 10px, 0);
      }
      37% {
        clip: rect(23px, 9999px, 61px, 0);
      }
      42% {
        clip: rect(6px, 9999px, 19px, 0);
      }
      47% {
        clip: rect(76px, 9999px, 51px, 0);
      }
      52% {
        clip: rect(74px, 9999px, 62px, 0);
      }
      57% {
        clip: rect(87px, 9999px, 34px, 0);
      }
      62% {
        clip: rect(97px, 9999px, 90px, 0);
      }
      67% {
        clip: rect(23px, 9999px, 65px, 0);
      }
      72% {
        clip: rect(56px, 9999px, 40px, 0);
      }
      77% {
        clip: rect(48px, 9999px, 39px, 0);
      }
      82% {
        clip: rect(29px, 9999px, 44px, 0);
      }
      87% {
        clip: rect(35px, 9999px, 34px, 0);
      }
      92% {
        clip: rect(98px, 9999px, 20px, 0);
      }
      97% {
        clip: rect(52px, 9999px, 34px, 0);
      }

  }




