body {
    min-height: 100vh;
}

body, body * {
	margin: 0;
	padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
}



#platePage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 100%;
    background-image: url("images/blueTile.jpg");
    background-repeat: repeat;
    
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    padding: 30px 0 30px 0;
}



 #top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-image: url("images/brushSteel.jpg");
    background-repeat: repeat;
    background-color:black;
    box-shadow: 0px 3px 5px 1px black;
}

.navContainer h1 {
    font-family: 'Saira', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 2.5rem;
    padding:5px 15px 10px 15px;
    text-align: center;
    line-height: 1;
    background: rgba(0,0,0,.6);
    box-shadow: 1px 1px 2px 1px black;
    transition: color 800ms;
}

.navContainer h1:hover {
    color: rgba(218, 42, 42, 0.8);
    transition: color 1s;
}

.landingNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.landingNav a {
    /* text-decoration: none; */
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.landingNav a:hover {
    color: rgba(19, 12, 224, 0.8);
} 

#blank {
    height:20px;
    width: 40px;
    background: none;
}

#info2 {
    
    display: none;
    position: relative;
    background-image: url(images/brushSteel.jpg);
    margin: 15px auto 0 auto;
    box-shadow: 0px 3px 3px 2px black;
    
    
}

#info2 h2 {
    font-family: 'Saira', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 2.5rem;
    padding:5px 15px 10px 15px;
    text-align: center;
    line-height: 1;
    background: rgba(0,0,0,.6);
    box-shadow: 0px 1px 2px 1px black;
}

#info2 h2:hover {
    color: rgba(218, 42, 42, 0.8);
    transition: color 800ms;
}

#info2 h3 {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

#info2 h3:hover {
    color: rgba(24, 22, 97, 0.863);
}

#info2 div {
    position: relative;
    text-align: right;
    padding-right: 10px;
    color: rgba(218, 42, 42, 0.8);
    box-shadow: 0px 1px 1px 1px black;
    
    /* right: 5px;
    top: 5px; */
    /* width: 475px; */
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    background: rgba(0,0,0,.8);
    

}

#info2 div:hover {
    cursor: pointer;
}

#plateGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    min-width: 300px;
    flex-basis: 70%;
    height: 100%;
    padding: 20px 5px;
    background-image: url(images/cloth.jpg);
    background-repeat: repeat;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px;
    
}

#plateGrid h3 {
    width: 90%;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300i;
    color: rgba(244, 242, 255, 0.8);
    font-size: 1.7rem;
    margin: 5px 0 25px 0;
    padding-bottom: 20px;
    border-bottom: rgba(210, 180, 140, 0.651) solid 2px;
    /* background-color: rgba(71, 95, 233, 0.178) */
    
}

#plateGrid > img.thumbClick {
    min-width: 0;
    max-width: 100%;
    border: solid 25px;
    border-image: url("images/plateBorder.png");
    border-image-slice: 60 fill;
    border-image-width: 25px;
    flex-basis: 120px;
    height: 120px;
    margin: 10px;
    cursor: zoom-in;
    
}

 @media screen and (max-width: 575px) {
    #plateGrid {
      flex-basis: 90%;
    }
   
    #plateGrid > img.thumbClick {
        min-width: 0;
        max-width: 100%; 
        border: solid 20px;
        border-image: url("images/plateBorder.png");
        border-image-slice: 60 fill;
        border-image-width: 20px;
        flex-basis: 80px;
        height: 80px;
        margin: 5px;
        
    }

  } 
 
 .fullDisplay {
    display: none;
}

#plateWindow {
    
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 90px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,.9); /* Black w/ opacity */
        cursor: zoom-out;
        
}

.displayed {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    
    
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    font-family: 'Kreon', serif;
    font-size: 150%;
    font-weight: 400;
    color: rgba(181, 214, 236,.8);
    padding: 10px 0;
    height: auto;
    border-top: solid black 2px;
    border-radius: 0 0 10px 10px;
}

#foodDescriptions {
    display: none;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.74);
    color: rgba(184, 184, 184, 0.829);
    text-align: center;
}

.strike {
    text-decoration: line-through;
}